* {
	margin: 0;
	padding: 0;
}

body {
	background: #3745c2;
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#card {
	margin-top: 35px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 15px;
	border: 2px solid #b7beff;
	width: 500px;
	height: 600px;
	border-radius: 20px;
}

.nav {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

section {
	font-size: 20px;
}

#location-section {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 15px;
}

#location-section input {
	border-radius: 35px;
	border: 2px solid white;
	height: 35px;
	/* width: 275px; */
	background: #3745c2;
	resize: horizontal;
	font-size: 20px;
	color: white;
	padding-left: 15px;
}

.fetch-btn {
	border-radius: 200px;
	border: none;
	height: 40px;
	width: 50px;
	background: #b7beff;
}
