* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #5763cb;
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#card {
	margin-top: 35px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 15px;
	border: 2px solid #b9c0ff;
	width: 400px;
	height: auto;
	border-radius: 20px;
}

.nav {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

section {
	font-size: 20px;
}

#country {
	font-size: 30px;
	margin-top: 25px;
	font-weight: 700;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

#currentTemp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	gap: 10px;
	opacity: 2;
}

#input-location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	width: auto;
}

#location-section {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

#location-section input {
	border-radius: 35px;
	border: 2px solid white;
	height: 35px;
	max-width: auto;
	background: #3745c2;
	resize: horizontal;
	font-size: 20px;
	color: white;
	padding-left: 15px;
}

.fetch-btn {
	border-radius: 200px;
	border: none;
	height: 40px;
	width: 50px;
	background: #b7beff;
}

#extra-weather {
	margin-top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#forecast div {
	color: white;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 50px;
}
